:root {
  --fundo-1: #c5c5c5;
  --fundo-2: #ffffff;
  --texto: #000000;
  --hover: #b2b2b2;
}
@media (prefers-color-scheme: dark) {
  :root {
    --fundo-1: #333333;
    --fundo-2: #111111;
    --texto: #ffffff;
    --hover: #333333;
  }
}
body {
  font-family: "Times New Roman", Times, serif;
  background-color: var(--fundo-1);
  color: var(--texto);
  margin: 0px;
  gap: 30px;
  display: grid;
  justify-items: center;
}
body header h1 {
  display: grid;
  justify-items: center;
  border-radius: 10px;
  background-color: var(--fundo-2);
  color: var(--texto);
  width: 300px;
  margin: 20px auto 20px auto;
}
body h1 img {
  height: 80px;
}
body h1 a {
  font-size: 5rem;
  color: var(--texto);
}
ul {
  list-style: none;
  margin: 0px;
}
body header nav {
  margin: 0px 0px 0px 0px;
}
.flex {
  display: flex;
  margin: 0px auto 0px auto;
  gap: 30px;
  font-size: 2rem;
}
.menu {
  background: var(--fundo-2);
  color: var(--texto);
  border-radius: 10px;
  padding: 5px;
  text-decoration: none;
}
.menu:hover {
  background: var(--hover);
  color: var(--texto);
}
body main article ul img {
  width: 50px;
  padding: 5px;
}
.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0px;
  max-width: 1000px;
  position: relative;
}
.imagem {
  margin: 0px;
  width: 100%;
}
.introducao {
  background-color: var(--fundo-2);
  color: var(--texto);
  padding: 40px;
  font-size: 1.4rem;
}
.introducao::before {
  content: "";
  background: rgb(30, 30, 30);
  height: 4px;
  width: 60px;
  position: absolute;
  top: 30px;
  right: 47%;
}
.explicativo {
  font-size: 2.5rem;
}
.botao {
  background: rgb(30, 30, 30);
  font-size: 30px;
  text-decoration: none;
  border-radius: 8px;
  color: #ffffff;
  padding: 5px;
  text-transform: uppercase;
}
.botao:hover {
  background: var(--hover);
  color: #ffffff;
  transform: 0.3s;
}
.subtitulo {
  display: grid;
  font-size: 50px;
  color: var(--texto);
  align-content: center;
  text-align: center;
  text-transform: uppercase;
}
.vantagens {
  display: grid;
  background-color: var(--fundo-2);
  color: var(--texto);
  max-width: 1000px;
  margin-top: 0px;
  padding: 20px;
  position: relative;
  align-content: center;
  justify-content: end;
}
.vantagens-itens:nth-child(odd) {
  background: var(--hover);
}
.vantagens-itens:hover {
  border-left: 4px solid rgb(30, 30, 30);
}
body main article ul h4 {
  font-size: 2rem;
}
body main article ul p {
  font-size: 1.5rem;
}
body footer {
  background-color: var(--fundo-2);
  color: var(--texto);
  font-size: 2rem;
  height: 60px;
  width: 100%;
  text-align: center;
  margin: 0px;
  padding: 25px 0px 0px 0px;
}
.gradiente {
  background-image: linear-gradient(220deg, var(--fundo-1), var(--fundo-2));
}
@media (max-width: 600px) {
  .conteudo {
    grid-template-columns: 1fr;
  }
}
.flex {
  font-size: 1.5rem;
  gap: 5px;
  margin: 0px auto 0px -40px;
}
